

    /* internal css */

    /* element selector */
    body{
        background-color: rgb(255, 0, 102);
    }
       /* class selector */
       .text-danger {
        color: red;
       }

       .bg-success {
        background-color: green;

       }
       text-warning {
        background-attachment: blue;
       }


.p-1 {

    padding: 10px;
}

.m-1 {
margin: px;

}

.rounded {
    border-radius: 20px;
}

a {
color: black;
text-decoration: none;

}

a :hover {

    color: white;
    text-decoration: underline;
    background-color: black;
    border: radius 20px;

  
 
}

table{
    width: 100%;
    border: 1 px solid;
     border-collapse:collapse;
    text-align : center ;
}

  /*  warna padding dalam */
   /*  warna margin dalam */
  /* border-collapse : collapse ;*/
  /* text-align: center = biar ketengah ;*/

















