.container{
    width: 10000px;
    height: 10000px ;
    background-color: rgb(255, 0, 60);
    

}

.wrapper {
    height: 407px;
    width:  998px;
    background-color: black;
    color: rgb(105, 128, 0);
    display: flex;
}

.card {
    border: 2px solid white;
}

.text-center{
    width: 100%;
    height: 100%;
    text-align: center;
}

.Mwraper {
    color: red;
    background-color:rgb(51, 0, 255);

    
}
.apaiya {
    background-color: aqua;
    color: blueviolet;

}




 